
@{
    ViewData["Title"] = "Start";
}



<h2>آزمون آغاز نشده است</h2>
<p>لطفاً دکمه شروع را بزنید تا آزمون آغاز شود.</p>

<a href="@Url.Action("GetQuestion", "Quiz", new { index = 0 })" class="btn btn-primary">شروع آزمون</a>

